html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li a{
    font-family: 'Epilogue';
    color: #000000;
    text-decoration: none;
}
.epilogue {
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.syne {
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.barContainer{
    display: flex;
    position: absolute;
    top: 0;
    padding: 1rem;
}
.barContainer img{
    width: 70%;
    height: auto;
}
.title{
    font-family: 'Syne', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

ul{
    display: flex;
    gap: 1rem;
}
